/* Classic Massage block */
.classic-massage-block {
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 300px;
    background: #8EA8C3;
    padding: 20px; 
}

/* Classic Massage image */
.classic-massage-block img {
    max-width: 100%;
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Classic Massage header */
.classic-massage-h2 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}

/* Classic Massage text-box */
.classic-massage-text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.5;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Media query for larger screens */
@media (min-width: 1300px) {
    .classic-massage-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }

    .classic-massage-block img {
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
    }

    .classic-massage-text {
        width: 100%;
        position: relative;
        text-align: left;
    }

    .classic-massage-h2 {
        margin-bottom: 20%;
        padding-left: 100px;
        width: 100%;
        position: relative;
        text-align: left;
    }
}

/* Media query for smaller screens */
@media (max-width: 1300px) {
    .classic-massage-block {
        margin-top: 300px;
    }
}
