/* Facial Treatment block */
.facial-treatment-block {
    position: absolute;
    width: 1240px;
    height: 385px;
    left: 80px;
    top: 1770px;
}

/* Facial Treatments image */
.facial-treatment-block img {
    position: absolute;
    width: 575px;
    height: 385px;
    left: 535px;
    top: 0;
}

/* Facial Treatment text-block*/
.facial-treatment-block .text-box {
    position: absolute;
    width: 500px;
    height: 254px;
    left: 0;
    top: 80px;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
}

/* Facial Treatment header */
.facial-treatment-block h2 {
    position: absolute;
    width: 200px;
    height: 43px;
    left: 0;
    top: 20px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}