/* Hot Stone Massage block */
.hot-stone-massage-block {
    position: relative;
    width: 95%;
    height: 500px;
    left: 100px;
    padding-top: 40px;
    background: #8EA8C3;
}

/* Hot Stone Massage image */
.hot-stone-massage-block img {
    position: absolute;
    max-width: 100%;
    width: 640px;
    height: auto;
    left: 20px;
    top:40px;
}

/* Hot Stone Massage header */
.hot-stone-massage-block h2 {
    position: absolute;
    height: 43px;
    left: 720px;
    top: 80px;
    font-size: 28px;
    line-height: 29px;
    color: #FFFFFF;
}

/* Hot Stone Massage text-block*/
.hot-stone-massage-block .text-box {
    position: absolute;
    width: 900px;
    height: 254px;
    left: 720px;
    top: 150px;
    font-size: 25px;
    line-height: 2;
    color: #FFFFFF;
}