/* Massage and Scrub block */
.massage-and-scrub-block {
    position: relative;
    height: 500px;
    margin-top: 40px;
    left: 100px;
}

/* Massage and Scrub image */
.massage-and-scrub-block img {
    position: absolute;
    max-width: 100%;
    width: 640px;
    height: auto;
    left: 1070px;
}

/* Massage and Scrub header */
.massage-and-scrub-block h2 {
    position: absolute;
    height: 43px;
    top: 80px; 
    font-size: 28px;
    line-height: 29px;
    color: #000000;
}

/* Massage and Scrub text-block */
.massage-and-scrub-block .text-box {
    position: absolute;
    width: 900px;
    height: 254px;
    top: 150px; 
    font-size: 25px;
    line-height: 2;
    color: #000000;
}