/*Author: 7032*/

.home-about-us-section {
  display: flex;
  align-items: center;
  background-color: #8ea8c3;
  padding: 40px 90px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 90px;
}

.home-about-us-content {
  flex: 1;
}

.home-about-us-content h2,
.home-about-us-content p {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Inter";
}

.home-about-us-content h2 {
  font-weight: 400;
  font-size: 48px;
}

.home-about-us-content p {
  font-size: 30px;
  line-height: 70px;
  margin-top: 20px;
  font-weight: 300;
}

.home-read-more-button-for-about-us {
  align-self: center;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #cbf7ed;
}

.home-about-us-image {
  width: 550px;
  order: 2;
}

.home-about-us-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1043px) {
  .home-about-us-section {
    flex-direction: column;
    padding: 40px;
    align-items: center;
  }

  .home-about-us-content h2 {
    font-size: 30px;
  }

  .home-about-us-content {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
    align-items: center;
    display: contents;
  }

  .home-read-more-button-for-about-us {
    align-self: center;
    order: 3;
  }

  .home-about-us-content p {
    font-size: 15px;
    line-height: 50px;
    margin-top: 20px;
  }

  .home-about-us-image {
    max-width: 30%;
    margin-top: 20px;
    order: 1;
  }
}
