* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  /* Container for the Appointments component */
  .appointments-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
  }
  
  
  /* Title of the Appointments component */
  .appointments-container h1 {
      color: black;
      font-size: 1.5em;
      font-weight: normal;
      margin-bottom: 20px;
  }
  
  /* Container for the list and scroll edges */
  .orders-list-container {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      
  }
  
  /* List container for orders */
  .orders-list {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      max-width: 100%;
      overflow-x: auto;
  }
  .orders-list::-webkit-scrollbar {
      display: none; /* Hide the scrollbar for WebKit (Chrome, Safari, etc.) */
  }
  /* Invisible edges for scrolling */
  .scroll-edge {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50px; /* Adjust width as needed */
      z-index: 10;
  }
  
  .scroll-edge.left {
      left: 0;
      cursor: w-resize;
  }
  
  .scroll-edge.right {
      right: 0;
      cursor: e-resize;
  }
  
  /* Individual order item */
  .order-item {
      background-color: #CBF7ED;
      border: 1px solid black;
      border-radius: 8px;
      padding: 20px;
      min-width: 300px;
      max-width: 300px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .order-item h2 {
      font-size: 1.2em;
      text-decoration: underline;
      font-weight: normal;
      color: black;
      margin-bottom: 10px;
  }
  
  .order-item p {
      color: black;
      margin: 5px 0;
  }
  
  .order-item ul {
      padding-left: 20px;
      margin: 0;
  }
  
  .order-item li {
      margin: 5px 0;
      list-style-type: disc;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
    justify-content: flex-start; /* Aligns items horizontally at the start */
    margin-top: 10px; /* Adjust spacing from top */
}

.appointments-cancel-button, .appointments-change-date-button {
    background-color: #8EA8C3;
    color: black;
    font-size: 0.8em; /* Reduced font size */
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* Reduced padding */
    cursor: pointer;
}

.appointments-cancel-button:hover {
    background-color: #23395B;
    color: white;
}

.appointments-change-date-button {
    background-color: #23395B;
    color: white;
}

.appointments-change-date-button:hover {
    background-color: #8EA8C3;
    color: white;
}
