* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

.booking-buttons {
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2%;
}

.booking-cancel-button {
    display: block; /* Make the <a> tag a block-level element */
    padding: 10px 20px; /* Adjust the padding as needed */
    margin-right: 10%; /* Adjust the spacing between buttons */
    margin-bottom: 2%;
    background-color: #8EA8C3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.booking-cancel-button:hover {
    background-color: #406E8E; 
    color: black;
}

.booking-next-button {
    padding: 10px 30px; /* Adjust the padding as needed */
    margin-left: 20%; /* Adjust the spacing between buttons */
    margin-right: 40%;
    margin-bottom: 2%;
    background-color: #23395B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.booking-next-button:hover {
    background-color: #8EA8C3; 
    color: black;
}

.booking-back-button {
    display: block; /* Make the <a> tag a block-level element */
    padding: 10px 30px; /* Adjust the padding as needed */
    margin-right: 10%; /* Adjust the spacing between buttons */
    margin-bottom: 2%;
    background-color: #8EA8C3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .booking-back-button:hover {
    background-color: #406E8E; 
    color: black;
  }

  /*Styling only for the BookingTreatment buttons */
  .booking-next-button-treatments {
    padding: 10px 30px;
    margin-right: 40%;
    margin-left: 12%;
}

.booking-buttons-treatments {
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.booking3page-buttons{
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.booking3page-back-button {
    display: block; /* Make the <a> tag a block-level element */
    padding: 10px 30px; /* Adjust the padding as needed */
    margin-right: 18%; /* Adjust the spacing between buttons */
    margin-bottom: 2%;
    background-color: #8EA8C3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.booking3page-submit-button{
    padding: 10px 30px; /* Adjust the padding as needed */
    margin-left: 5%; /* Adjust the spacing between buttons */
    margin-right: 65%;
    margin-bottom: 2%;
    background-color: #23395B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.booking3page-submit-button:hover {
    background-color: #8EA8C3;
    color: black
}
.booking3page-back-button:hover {
    background-color: #23395B;
    color: white;
}

@media screen and (max-width: 1201px) {
    .booking-buttons {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 20%;
    }
    .booking-buttons-treatments  {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 0%;
    }
    .booking3page-buttons {
        max-width: 100%;
        margin-bottom: 0%;
        margin-left: 25%;
    }
    .booking3page-back-button{
        margin-left: -30%;
    }
    .booking3page-submit-button{
        margin-left: 5%;
    }
}


@media screen and (max-width: 768px) {
    .booking-buttons {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 5%;
    }

    .booking-buttons-treatments  {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 5%;
    }
    .booking3page-buttons  {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 5%;
    }
    .booking3page-back-button{
        margin-left: -30%;
    }
    .booking3page-submit-button{
        margin-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    .booking-buttons {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 20%;
    }
    .booking-buttons-treatments  {
        max-width: 100%;
        margin-bottom: -25%;
        margin-left: 0%;
    }
    .booking3page-buttons {
        max-width: 100%;
        margin-bottom: 0%;
        margin-left: 50%;
    }
    .booking3page-back-button{
        margin-left: -30%;
    }
    .booking3page-submit-button{
        margin-left: -5%;
    }
}

