/*Author: 7032*/

.passwordContainer {
  text-align: center;
  padding-top: 5%;
  background: linear-gradient(to right, #161925, #23395b, #406e8e, #8ea8c3);
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.passwordContainer p {
  color: #fff;
}

.passwordInputBox {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 300px;
  background-color: #23395b;
  padding: 15px;
  border-radius: 5px;
  position: relative;
}

.passwordInputBox input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #406e8e;
  color: #fff;
  border-radius: 5px;
}

.passwordInputBox label {
  color: #8ea8c3;
  display: block;
  text-align: left;
  margin-top: 10px;
}

.passwordIcon {
  position: absolute;
  top: 40%;
  left: 5px;
  transform: translateY(-50%);
  color: #8ea8c3;
}

.passwordButton {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  padding: 10px;
  background-color: #cbf7ed;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.passwordButton:hover {
  background-color: #ffffff;
}

.passwordFormBoxLogin {
  color: #8ea8c3;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.passwordFormBoxLogin:hover {
  text-decoration: underline;
}


.passwordMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordMessage button {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #406e8e;
  color: white;
  cursor: pointer;
}

.passwordMessage button:hover {
  background-color: #8ea8c3;
}


@media (max-width: 768px) {
  .passwordContainer {
    padding-top: 2%;
  }

  .passwordInputBox,
  .passwordButton {
    width: 90%;
  }

  .passwordInputBox label,
  .passwordInputBox input,
  .passwordButton {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .passwordContainer {
    padding-top: 10px;
  }

  .passwordInputBox label,
  .passwordInputBox input,
  .passwordButton {
    font-size: 14px;
  }
}
