/*Author: 7032*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #161925, #23395b, #406e8e, #8ea8c3);
}

.form-box {
  width: 300px;
  padding: 20px;
  background: #23395b;
  box-shadow: 0 0 10px #161925;
  border-radius: 8px;
  color: #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  border: 1px solid #406e8e;
  border-radius: 4px;
  background-color: #ffffff;
  color: #23395b;
}

.input-box input:focus {
  border-color: #161925;
  outline: none;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  top: 53%;
  transform: translateY(-50%);
  color: #23395b;
}

.input-box label {
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #cbf7ed;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ffffff;
}

.remember-forgot,
.login-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
 
}

.remember-forgot label input {
  margin-right: 5px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.forgotPsw:hover,
.register-link:hover {
  text-decoration: underline;
}

.login-register p {
  color: #ffffff;
  margin-top: 16px;
  text-align: center;
  margin-left: 35px;
}
