

.booking2-img-container {
           
            position: absolute;
            right: 10%;
            left: 60%;
            width: 100%;
            max-width: 35%;
            margin-top: 4%; 
}
        
.booking2-img-container img {
            width: 100%;
            height: 80%;
            max-height:75vh ;
}



@media screen and (min-width: 1200px){
    .booking2-img-container img {
        
        margin-top: -9%;
        height: 50vh;  
}
}
@media screen and (max-width: 1200px){
    .booking2-img-container img {
        
        margin-top: -7%;
        height: auto;  
}
}
@media screen and (max-width: 800px){
    .booking2-img-container img{
       
        margin-top: 10%;
        height: auto;      
}
}     

@media (max-width: 600px) {
    .booking2-img-container {
        position: static;
        width: 100%;
        transform: scale(0.8);
        margin-bottom: -4%; /* Adjust the margin as needed */
        order: 2; /* Ensure it comes after the booking path */
        margin-left: 32%;
        margin-right: 30%;
    }
}