

.booking2-img-container {
            /* float: right;  */
            /*flex: 1 0 10rem;*/
            position: absolute;
            right: 10%;
            left: 60%;
            width: 100%;
            max-width: 35%;
            margin-top: 4%;
}
        
.booking2-img-container img {
            width: 100%;
            height: auto;
            /* display: flex; */
}


      

