/* Base styles */
.booking-step-indicator {
  display: flex;
  margin-top: 5%;
  margin-left: 1%;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.treatment-label, .date-label, .checkout-label {
  font-size: 1.7em;
  padding: 10px 50px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #23395B;
  color: black;
  opacity: 0.5; /* less visible underline */
  cursor: pointer;
  transition: opacity 0.3s ease, text-decoration-color 0.3s ease; /* Add transition for smoother hover effect */
}

.treatment-label:hover, .date-label:hover, .checkout-label:hover {
  opacity: 0.8; /* Make labels slightly more visible on hover */
  text-decoration-color: #445566; /* Change underline color on hover */
}

.active-booking {
  opacity: 1; /* more visible underline */
  text-decoration-color: #23395B;
  color: black;
}

.active-booking:hover {
  opacity: 1; /* Ensure opacity stays at 1 even on hover */
}

.active-booking:active {
  opacity: 0.8; /* Slight decrease in opacity when label is clicked */
}

@media (min-width: 1201px) {
  .booking-step-indicator {
    margin-top: 10%;
    margin-left: 14%;
  }
}

@media (min-width: 1050px) and (max-width: 1200px){
  .booking-step-indicator {
    margin-top: 10%;
    margin-left: -2%;
  }
  
  .treatment-label, .date-label, .checkout-label {
    font-size: 20px;
    padding: 5px 30px;
  }
}
@media (min-width: 960px) and (max-width: 1050px){
  .booking-step-indicator {
    margin-top: 10%;
    margin-left: -4%;
  }
}
@media (min-width: 860px) and (max-width: 960px){
  .booking-step-indicator {
    margin-top: 10%;
    margin-left: -7%;
  }
}
@media (min-width: 760px) and (max-width: 860px){
  .booking-step-indicator {
    margin-top: 20%;
    margin-left: -8%;
  }
}
@media (max-width: 760px){
  .booking-step-indicator {
    margin-top: 20%;
    margin-left: 13%;
  }
}
@media (max-width: 650px){
  .booking-step-indicator {
    margin-top: 20%;
    margin-left: 9%;
  }
}

/* Add this media query for screen sizes 600px or smaller */
@media (max-width: 599px) {
  .booking-path {
    margin-top: 20%; /* Adjust as needed to lower the position */
    margin-left: 5%;  /* Adjust if needed */
    z-index: 10; /* Ensure it appears above other elements if needed */
  }
}
