

        .booking2-img-container {
            /*float: right;
            /*flex: 1 0 10rem;*/
            position: absolute;
            margin-right: 20px;
            margin-left: 60%;
            width: 100%;
            max-width: 35%;
            margin-top: 4%;
          }
        
          .booking2-img-container img {
            width: 100%;
            height: auto;
            /*display: flex;*/
      }
      
    /*position: relative;
width: 60%;
height: auto;
max-height: 70vh;
left: 300px;
top: 186px;*/

@media (min-width: 600px) {
  .booking2-img-container img {
    width: 70%;
    height: auto;
    /*display: flex;*/
}

}