/* Extra Treatments */
body {
    position: relative;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

/* Boost your wellbeing with our Extra Treatments */
.extra-treatments-title {
    position: relative;
    top: 100px;
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    line-height: 58px;
    color: #000000;
}

/* Classic Massage block*/
.classic-massage-block {
    position: relative;
    width: 95%;
    height: 459px;
    left: -10px;
    top: 180px;
    background: #8EA8C3;
}

/* Classic Massage image */
.classic-massage-block img {
    width: 531.35px;
    height: 380px;
    position: absolute;
    left: 80px;
    top: 40px;
}

/* Classic Massage header */
.classic-massage-block h2 {
    position: relative;
    width: 212.25px;
    height: 43px;
    left: 650px;
    top: 60px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

/* Classic Massage text-box*/
.classic-massage-block .text-box {
    position: relative;
    width: 500px;
    height: 254px;
    left: 650px;
    top: 60px;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: left;
}

/* Massage and Scrub block */
.massage-and-scrub-block {
    position: absolute;
    width: 1240px;
    height: 381px;
    left: 0;
    top: 800px;
}

/* Massage and Scrub image */
.massage-and-scrub-block img {
    position: absolute;
    width: 558.39px;
    height: 381px;
    left: 632px;
    top: 0;
}

/* Massage and Scrub header */
.massage-and-scrub-block h2 {
    position: absolute;
    width: 234.7px;
    height: 43px;
    left: 80px; 
    top: 25px; 
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

/* Massage and Scrub text-block */
.massage-and-scrub-block .text-box {
    position: absolute;
    width: 500px;
    height: 254px;
    left: 80px;
    top: 90px; 
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
}

/* Hot Stone Massage block */
.hot-stone-massage-block {
    position: absolute;
    width: 95%;
    height: 459px;
    left: 80px;
    top: 1243px;
    background: #8EA8C3;
}

/* Hot Stone Massage image */
.hot-stone-massage-block img {
    position: absolute;
    width: 531.35px;
    height: 380px;
    left: 20px;
    top:40px;
}

/* Hot Stone Massage header */
.hot-stone-massage-block h2 {
    position: absolute;
    width: 257px;
    height: 43px;
    left: 585px;
    top: 60px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

/* Hot Stone Massage text-block*/
.hot-stone-massage-block .text-box {
    position: absolute;
    width: 500px;
    height: 254px;
    left: 585px;
    top: 120px;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}

/* Facial Treatment block */
.facial-treatment-block {
    position: absolute;
    width: 1240px;
    height: 385px;
    left: 80px;
    top: 1770px;
}

/* Facial Treatments image */
.facial-treatment-block img {
    position: absolute;
    width: 575px;
    height: 385px;
    left: 535px;
    top: 0;
}

/* Facial Treatment text-block*/
.facial-treatment-block .text-box {
    position: absolute;
    width: 500px;
    height: 254px;
    left: 0;
    top: 80px;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
}

/* Facial Treatment header */
.facial-treatment-block h2 {
    position: absolute;
    width: 200px;
    height: 43px;
    left: 0;
    top: 20px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

/* Steam Room block */
.steam-room-block {
    position: relative;
    width: 95%;
    height: 459px;
    left: -10px;
    top: 1660px;
    background: #8EA8C3;
}

/* Steam Room image */
.steam-room-block img {
    position: absolute;
    width: 536.93px;
    height: 385px;
    left: 80px;
    top: 40px;

}

/* Steam Room header */
.steam-room-block h2 {
    position: relative;
    width: 212.25px;
    height: 43px;
    left: 650px;
    top: 80px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

/* Steam Room text-box*/ 
.steam-room-block .text-box {
    position: relative;
    width: 500px;
    height: 254px;
    left: 650px;
    top: 80px;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: left;
}
