.booking-summary-container {
  width: 25%;
  position: absolute;
  top: 40%;
  right: 10%;
  transform: translateY(-50%);
}

@media (max-width: 1100px) {
  .booking-summary-container {
    position: static;
    width: 100%;
    transform: scale(0.8);
    margin-top: 50px;
  }
}

.booking-summary {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20%;

}

.booking-summary-h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.booking-summary-span {
  background: #fff;
  padding: 0 10px;
}

.booking-summary-h4 {
  margin-top: 5%;
}

.booking-summary-div {
  margin-bottom: 30px;
}

.booking-summary-p {
  text-align: left;
  
}

.white-text {
  color: #ffffff;
  font-size: 20px;  
}

.booking-summary-input {
  width: 70%;
  padding: 10px;
  border: 2px solid #8EA8C3;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #F0F8FF;
  font-size: 16px;
}


.booking-summary-date, .booking-summary-personcount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  margin-right: 10px; 
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #406e8e; 
  padding: 18px;
  border-radius: 4px;
}

.change-date-button {
  color: #00C0D1;
  text-decoration: underline;
  cursor: pointer; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  background: none; 
  padding: 0; 
}

.change-date-button:hover {
  color: #0099A3; 
}

.change-treatments-container {
  display: flex;
  justify-content: flex-end;
}

.change-treatments {
  color: #00C0D1;
  text-decoration: underline;
  cursor: pointer; 
  font-size: 16px; 
  font-weight: bold; 
  border: none; 
  background: none; 
  padding: 0;
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}

.change-treatments:hover {
  color: #0099A3; 
}

.change-personcount-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Adjust margin-top as needed */
}

.change-personcount-button {
  color: #00C0D1;
  text-decoration: underline;
  margin-top: 5%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.change-personcount-button:hover {
  color: #0099A3;
}



.change-text,
.treatments-text
.personcount-text
.people-text {
  text-align: left; 
}

.change-text{
  margin-top: -37px;
}

@media screen and (max-width: 1100px) {
  .change-treatments {
    display: inline;
    margin-top: -30px;
  }
  .treatments-text{
    padding-left: 3px ;
  }
}