/* OrderConfirmation.css */
.order-confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.order-confirmation-content {
    background-color: #406E8E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order-number {
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}

.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #CBF7ED;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #23395B;
    color: white;
}
