@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.booking3page-body {
  padding-top: 10%;
  margin: 0%; /* Nullstiller margin for å unngå ekstra mellomrom */
}

.booking3page-content-container {
  padding-left: 10%; /* Plasserer alt innhold 150px fra venstre kant */
  margin-top: 4%; /* Legger til øvre margin for å unngå overlapping med headeren */
}

.booking3page-personal-header {
  margin-top: 0; /* Fjerner ekstra plass over overskriften */
}

.booking3page-personal-header-h3 {
  color: #000000;
  font-size: 2rem;
  margin-left: 0; /* Justerer til å passe skjemaet */
  font-weight: normal;
}

.booking3page-booking-steps a {
  text-align: left;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #23395B;
  text-underline-offset: 5px;
  padding-left: 150px;
}

#info-form {
  background: #406e8e;
  padding: 35px;
  border-radius: 5px;
  max-width: 600px;
  margin-right: auto;
  margin-left: 0;
  color: #fff;
}

.booking3page-form-group {
  margin-bottom: 20px; /* Justerer avstanden mellom input-feltene */
}

.booking3page-row {
  display: flex;
  flex-wrap: wrap;
}

.booking3page-row > .booking3page-half-width {
  flex: 0 0 calc(50% - 10px); /* Reduser prosentandelen for å skape mer plass mellom elementene */
  margin-right: 20px; 
  margin-bottom: 30px;
}

.booking3page-row > .booking3page-half-width:last-child {
  margin-right: 0;
}

#info-form input[type="text"],
#info-form input[type="email"],
#info-form input[type="tel"],
#info-form select {
  width: calc(100% - 25px); /* Justerer bredden på input-feltene */
  padding: 0.5em;
  border: 1px solid #aabbcc;
  background-color: #d9d9d9;
  color: #000;
  font-size: medium;
  border-radius: 5px;
}

.booking3page-checkbox-container {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

.booking3page-input[type=checkbox] {
  accent-color: #8EA8C3;
  cursor: pointer;
}

.booking3page-checkbox-label {
  margin-left: 8px;
  cursor: pointer;
}

.booking3page-form-label {
  display: block;
  color: #ffffff;
  font-size: 1rem; 
  margin-bottom: 15px; /* Gir litt plass under etiketten før boksen starter */
  margin-left: 0; 
}

.booking3page-payment-section {
  background: #d9d9d9; 
  padding: 20px; /* Spacing around the content */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 25px; /* Space below the section */
}


.booking3page-payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Space between options */
  color: #000000;
}

.booking3page-payment-option label {
  margin-left: 10px;
}

.booking3page-card-details {
  display: flex;
  flex-direction: column; /* Stabler elementene vertikalt */
  gap: 10px; /* Mellomrom mellom feltene */
  color: #000000;
}

.booking3page-card-details input[type='text'] {
  background-color: #ffffff !important;
  border: 1px solid #ccc !important;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.booking3page-card-details .booking3page-expiry-and-security {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cbooking3page-ard-details .booking3page-expiry-and-security input {
  flex: 1; /* Deler tilgjengelig plass mellom expiry og security */
}

#card-number {
  width: 100%;
}

#expiry-date,
#security-number {
  flex: 1; /* Deler den tilgjengelige plassen likt mellom de to feltene */
}

.booking3page-pay-field {
  background: #ffffff; 
  font-family: "Inter", sans-serif;
  color: #000000; 
  padding: 10px 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  text-align: center;
  cursor: default; 
  margin-bottom: 10px; /* Legg til litt plass under feltet */
}
.booking3page-payment-option img {
  width: 15%; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

.booking3page-booking-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.booking3page-back-button {
  display: inline-flex;
  padding: 10px 20px;
  margin-right: 10%;
  margin-bottom: -100%;
  background-color: #8EA8C3;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.booking3page-back-button:hover {
  background-color: #406E8E; 
  color: black;
}

.booking3page-submit-button {
  display:inline-flex;
  padding: 10px 30px; /* Adjust the padding as needed */
  margin-left: 18%; /* Adjust the spacing between buttons */
  margin-right: 62%;
  margin-bottom: 2%;
  background-color: #23395B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.booking3page-submit-button:hover {
  background-color: #8EA8C3; 
  color: black;
}





#info-form select {
  height: 38px;
}
