
.Clip-Card-Container {
    position: relative;
    margin-top: 100px; 
    margin-bottom: 100px;

  }
  
    .Clip-Card-Container img {
      width: 100%;
      height: auto;
      max-height: 80vh;
      /*margin-left: 100px;
      margin-right: 100px;*/
    }

    .ClipCard-info{
      
        position: absolute;
        bottom: 8%;
        right: 5%;
        justify-content: space-between; /* Distribuerer plassen jevnt mellom elementene */
        align-items: center; /* Sentrerer elementene vertikalt */
        width: 400px; /* Justerer bredden av tekstboksen */
        height: 200px;
        background-color: #23395b;
        padding: 20px;
    }

    .ClipCard-title, .ClipCard-text-box{
      color: #ffffff;
      text-align: left;
      font-family: "Inter", sans-serif;
      font-size: 16px;
      line-height: 24px;
    }

    .ClipCard-text-box{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    