/*Hussien sin css*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1px 20px;
  background: #23395b;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  margin-right: auto;
}

.logoo {
  height: auto;
  max-height: 90px;
  width: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.navigation a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 300;
  margin: 0 20px;
  position: relative;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #cbf7ed;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation .nav-items a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  background: #cbf7ed;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #000;
  font-weight: 500;
  transition: background-color 0.5s, color 0.5s;
  margin-left: 20px;
  width: 130px;
  height: 50px;
}

.navigation .btnLogin-popup:hover {
  background: white;
  color: black;
}

.hamburger,
.close-nav-items {
  display: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  padding: 15px;
  position: fixed;
  top: 15px;
  z-index: 102;
}
@media (max-width: 1372px) {
  header {
    padding: 5px 10px;
  }

  .logoo {
    max-height: 70px;
  }

  .navigation {
    padding: 0;
  }

  .navigation a {
    font-size: 0.9em;
    margin: 8px 10px;
  }

  .navigation .btnLogin-popup {
    font-size: 0.9em;
    padding: 8px 10px;
    margin: 8px;
    width: auto;
    height: auto;
  }

  .hamburger {
    display: block;
    right: 10px;
    top: 5px;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(35, 57, 91, 0.95);
    transition: all 0.3s ease-in-out;
    z-index: 101;
  }

  .nav-items.open {
    display: flex;
  }

  .nav-items.open ~ .close-nav-items {
    display: block;
    right: 10px;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background: #1c3a5e;
  justify-content: space-around;
}

.flex-container > div {
  padding: 20px;
  font-size: 30px;
  width: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fab {
  padding-left: 30px;
  font-size: 50px;
  padding-bottom: 10px;
}

.iconItems i {
  padding-right: 40px;
}

footer ul,
footer li,
footer a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: rgb(224, 224, 224);
}

.listItems li {
  text-align: center;
  padding-bottom: 10px;
}

.box3 {
  margin-top: 35px;
}

footer ul,
footer li {
  margin-bottom: 10px;
  font-size: 20px;
}

footer img {
  width: 80px;
  padding-bottom: 20px;
}

.fas.fa-map-marker-alt {
  padding-right: 5px;
}

/* SOCIAL MEDIA ICONS */
.socialMediaLinks {
  display: flex;
  padding: 0;
}

.socialMediaLinks li {
  margin-right: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .flex-container > div {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 480px) {
  .flex-container > div {
    width: calc(100% - 40px);
  }
}

/*Index.css*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.about-us-block {
  width: 100%;
  background-color: white;
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
